---
import { Card } from "@astrojs/starlight/components";
---

<Card title="Shadow">
    <div class="shadowed">An element with a shadow</div>
</Card>

<style lang="scss">
    @use "mixins" as *;

    .container {
        display: grid;
        place-content: center;
        height: 10rem;
        background-color: var(--color-background);
    }

    .shadowed {
        color: var(--color-text);
        background-color: var(--color-background);
        @include padding-box;
        // color: black;
        @include shadow(1);
    }
</style>
