---
import { Icon } from "astro-icon/components";
import Select from "./common/Select.astro";

const themeOptions = [
    { value: "auto", label: "Auto" },
    { value: "light", label: "Light" },
    { value: "dark", label: "Dark" },
];
---

<div class="theme-selector">
    <span class="theme-icon" data-icon="auto">
        <Icon name="lucide:computer" />
    </span>
    <span class="theme-icon" data-icon="light">
        <Icon name="lucide:sun" />
    </span>
    <span class="theme-icon" data-icon="dark">
        <Icon name="lucide:moon" />
    </span>

    <Select id="theme-select" options={themeOptions} initialValue="Auto" />
</div>

<script>
    type Theme = "auto" | "dark" | "light";

    const html = document.documentElement;
    const media = window.matchMedia("(prefers-color-scheme: dark)");

    function updateIcon(theme: Theme) {
        document.querySelectorAll(".theme-icon").forEach((icon) => {
            const el = icon as HTMLElement;
            el.style.display =
                el.dataset.icon === theme ? "inline-flex" : "none";
        });
    }

    function getStoredTheme() {
        return localStorage.getItem("theme") as Theme | null;
    }

    function storeTheme(theme: Theme) {
        localStorage.setItem("theme", theme);
    }

    function clearStoredTheme() {
        localStorage.removeItem("theme");
    }

    function applyTheme(theme: Theme) {
        if (theme === "auto") {
            html.setAttribute("data-theme", media.matches ? "dark" : "light");
        } else {
            html.setAttribute("data-theme", theme);
        }
        updateIcon(theme);
    }

    function getInitialTheme(): Theme {
        return getStoredTheme() ?? "auto";
    }

    function init() {
        const theme = getInitialTheme();
        applyTheme(theme);
    }

    init();
    document.addEventListener("astro:after-swap", init);

    // listen for the custom event from Select component
    document.addEventListener("select:change", (e: Event) => {
        const { value, id } = (e as CustomEvent).detail;
        if (id !== "theme-select") return; // ignore other selects

        const theme = value as Theme;
        if (theme === "auto") {
            clearStoredTheme();
        } else {
            storeTheme(theme);
        }
        applyTheme(theme);
    });

    media.addEventListener("change", (e) => {
        if (!getStoredTheme()) {
            applyTheme("auto");
        }
    });
</script>

<style lang="scss">
    @use "mixins" as *;

    .theme-selector {
        display: flex;
        align-items: center;
        gap: var(--space-2);
    }

    .theme-icon {
        display: none;
        align-items: center;
        color: var(--color-header-text);
    }
</style>
