@mixin flow($space: var(--space-stack)) {
    &>*+* {
        margin-block-start: $space;
    }
}

@mixin stack($space: var(--space-stack)) {
    display: flex;
    flex-direction: column;
    gap: $space;
}