@layer base {

    :root {
        color-scheme: light dark;
        /* animations */
        // --softIn: softIn 0.33s ease-in;
    }

    html {
        font-size: clamp(14px, calc(0.875rem + 0.5vw), 20px);
    }

    body {
        margin: 0;
        padding: 0;
        font-family: var(--font-body);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: var(--leading-normal);
        min-height: 100vh;
        min-height: 100svh;
        color: var(--color-text);
        background-color: var(--color-background);
        // @include scrollbar;
    }


    button:focus,
    optgroup:focus {
        // @include focus();
        outline-offset: 3px;
    }

    *::selection {
        background-color: var(--color-text);
        color: var(--color-background);
    }


}